.safeMode {
    font-size: 18px;
    color: #878A91;
    line-height: 24px;
    pointer-events: none;
    margin-right: 8px;

    .safeMode1 {
        margin-left: 10px;
        color: #F22433;
    }

    .safeMode2 {
        margin-left: 10px;
        color: #00DB1C;
    }

    .safeMode3 {
        margin-left: 10px;
        color: #78262E;
    }
}