.el-container {
    flex: 1;

    .indexBottomContent {
        height: calc(100% - 64px)
    }

    // 页面内容组件
    .el-main {
        padding: 0;
        height: 100%;
        position: relative;
    }

}

.indexHeader {
    height: 64px;
    line-height: 64px;
    text-align: center;
    background-color: var(--frame-top-background);
    white-space: nowrap;
    position: relative;
    padding-left: 0px;
    padding-right: 16px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.05);
}